<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
      <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
      <property name="connection.url">jdbc:mysql://localhost:3306/javastudy</property>
      <property name = "connection.driver_class">com.mysql.jdbc.Driver<!--src.main.resources.Driver--></property> &lt;!&ndash;com.mysql.js.jdbc.Driver&ndash;&gt;

      <!-- NOTE that after automapping with IDEA property username and password will delete
       (после автоматического сопоставления с IDEA имя пользователя и пароль свойства будут удалены)-->
      <!--and will be:  Initial SessionFactory failedorg.hibernate.main.service.spi.ServiceException: Unable to create requested main.service
      (и будет: Сбой начальной SessionFactory org.hibernate.main.service.spi.ServiceException: не удается создать запрошенную службу)-->
        <property name="connection.username"/>root/>
        <property name="connection.password"/>pass/>

        <!-- NOTE that after automapping with IDEA property username and password will delete
      (после автоматического сопоставления с IDEA имя пользователя и пароль свойства будут удалены)-->
        <mapping class="main.dao.ContactEntity"/>
        <mapping class="main.dao.ContactHobbyDetailEntity"/>
        <mapping class="main.dao.ContactTelDetailEntity"/>
        <mapping class="main.dao.HobbyEntity"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>